* { 
  box-sizing: border-box;
  background-color: #f7f7f7;
  margin: 0;
}

html {
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  margin: auto;
  padding: 10vh 0;
  text-align: center;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  padding: 5vh 0;
}

p {
  text-align: center;
  padding-bottom: 5vh;
}

body {
  font-weight: 100;
  height: 100%;
}

.section-button, .portfolio h2, h3, .portfolio, .portfolio-text {
  background-color: white;
}

.section-button {
  border: none;
  padding: 10px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.clearfix {
  clear: both;
}

.profile-image {
  max-width: 256px;
  margin: 10vh auto;
  display: block;
}

.profile-text, .portfolio-text {
  text-align: center;
}

.portfolio {
  width: 90%;
  margin: 0 auto;
}

.portfolio-image {
  max-width: 40%;
  margin: 0 auto;
  display: block;
}

.contact-details {
  color: #939597;
}

footer {
  font-family: 'Fjalla One', sans-serif;
  border-top: 1px solid #bebebe;
  padding: 10vh 0;
  margin: 20px 5vw;
}

.footer-name {
  float: left;
  display: block;
  height: 12px;
  line-height: 12px;
}

.link-to-top {
  text-transform: uppercase;
  float: right;
  display: block;
  height: 12px;
  line-height: 12px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .section-button {
    display: block;
    width: 90%;
    margin: 5px auto;
  }

  .container {
    margin: auto;
    width: 100%;
  }

  .portfolio {
    width: 100%;
  }

  .portfolio-image {
    max-width: 280px;
  }

  .profile-text, .portfolio-text, .contact-text {
    width: 90%;
    margin: auto;
  }

  .profile-image {
    width: 70%;
  }
}

@media screen and (min-width: 769px) {
  .section-button {
    display: inline;
  }

  .link-to-top {
    display: none;
  }
}

