* { 
  box-sizing: border-box;
  background-color: #f7f7f7;
  margin: 0;
}

.container {
  margin: auto;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  margin: auto;
  padding: 10vh 0;
  text-align: center;
  border-top: 4px solid #f7f7f7;

}

h3 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  padding: 5vh 0;
}

p {
  text-align: center;
  padding-bottom: 5vh;
}

.portfolio h2, h3, .portfolio, .portfolio-text, .animal, .animal h2, article {
  background-color: white;
}

.section-button {
  border: none;
  padding: 10px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #939597;
  display: block;
  width: 90%;
  margin: 5px auto;
  background-color: white;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.clearfix {
  clear: both;
}

.profile-image {
  width: 70%;
  max-width: 256px;
  margin: 10vh auto;
  display: block;
}

.profile-text, .portfolio-text {
  text-align: center;
  height: 20vh;
  width: 90%;
  margin: auto;
}

.contact-text {
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: auto;
  color: #939597;
}

.animal {
  width: 95%;
  margin: 0 auto;
}

.portfolio {
  width: 100%;
}

.portfolio-image {
  margin: 0 auto;
  display: block;
  max-width: 280px;
}

img {
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
}

.contact-details {
  color: #939597;
  margin-left: 0.7em;
}

footer {
  font-family: 'Fjalla One', sans-serif;
  border-top: 1px solid #bebebe;
  padding: 10vh 0;
  margin: 20px 5vw;
}

.footer-name {
  float: left;
  display: block;
  height: 12px;
  line-height: 12px;
}

.link-to-top {
  float: right;
  display: block;
}

.link-to-top, .link-to-section {
  text-transform: uppercase;
}

.link-to-section {
  display: none;
}

.footer-links li:last-child {
  margin-right: 0;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .container {
    margin: auto;
    width: 100%;
  }

  .portfolio, .animal {
    width: 95%;
    margin: 0 auto;
  }
  
  .section-button {
    font-size: 12px;
  }

  nav {
    width: 40%;
    text-align: center;
    margin: 5vh auto;
    display: block;
  }

  article {
    height: 350px;
    display: inline-block;
    width: calc(48% - 4px);
    vertical-align: middle;
  }

  .profile-image {
    width: 90%;
    display: block;
    margin: auto;
  }

  .link-to-top {
    display: none;
  }

  .footer-links {
    display: block;
    float: right;
  }

  .link-to-section {
    display: inline;
    margin: 0 0.7em;
  }
}

@media screen and (min-width: 1024px) {
  article {
    display: inline-block;
    width: calc(33%);
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
}

